# Ignore virtual environment
venv/
sklearn_env/

# Bytecode garbage
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code config files (optional)
.vscode/

# Mac/Linux/Windows system files (optional)
.DS_Store
Thumbs.db

